<%= form_for(@club) do |f| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% @club.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "Nome" %><br>
    <%= f.text_field :name, :size => "90" %>
  </div>
  <div class="field">
    <%= f.label "Indirizzo" %><br>
    <%= f.text_area :address, :size => "90x1" %>
  </div>
  <div class="field">
    <%= f.label "Giorno di Chiusura" %><br>
    <%= f.text_field :closed, :size => "90" %>
  </div>
  <div class="field">
    <%= f.label "Contatti" %><br>
    <%= f.text_field :contacts, :size => "90" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Telefono" %><br>
    <%= f.text_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :fax %><br>
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label "Come arrivare" %><br>
    <%= f.text_area :instructions, :size => "90x5" %>
  </div>
  <div class="field">
    <%= f.label "Latitudine" %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label "Longitudine" %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note, :size => "90x5" %>
  </div>
  <div class="field">
    <%= f.label "Percorso" %><br>
    <%= f.text_area :path, :size => "90x1" %>
  </div>
  <div class="field">
    <%= f.label "Posizione" %><br>
    <%= f.text_field :position, :size => "90" %>
  </div>
  <div class="field">
    <%= f.label "Stagione di apertura" %><br>
    <%= f.text_field :season, :size => "90" %>
  </div>
  <div class="field">
    <%= f.label "Sito Web" %><br>
    <%= f.text_field :website, :size => "90" %>
  </div>
  <div class="field">
    <%= f.label :image_id %><br>
    <%= f.number_field :image_id %>
  </div>
  <div class="actions">
    <%= f.submit "Salva Circolo", :class => "btn btn-primary" %>
  </div>
<% end %>
