<h1>Elenco Circoli</h1>
<p>
    <%= link_to 'Nuovo Circolo', new_club_path, :class => "btn btn-primary" %>
</p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Indirizzo</th>
      <th>Email</th>
      <th>Sito Web</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= link_to club.name, club, :class => "btn btn-xs btn-info" %></td>
        <td><%= club.address %></td>
        <td><%= club.email %></td>
        <td><%= club.website %></td>
        <td>
            <%= link_to 'Modifica', edit_club_path(club), :class => "btn btn-xs btn-warning" %>
            <%= link_to 'Distruggi', club, method: :delete, data: { confirm: 'Sei sicuro?' }, :class => "btn btn-xs btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
