<h1>Listing clubs</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Closed</th>
      <th>Contacts</th>
      <th>Email</th>
      <th>Fax</th>
      <th>Instructions</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Name</th>
      <th>Note</th>
      <th>Path</th>
      <th>Position</th>
      <th>Season</th>
      <th>Telephone</th>
      <th>Website</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.address %></td>
        <td><%= club.closed %></td>
        <td><%= club.contacts %></td>
        <td><%= club.email %></td>
        <td><%= club.fax %></td>
        <td><%= club.instructions %></td>
        <td><%= club.latitude %></td>
        <td><%= club.longitude %></td>
        <td><%= club.name %></td>
        <td><%= club.note %></td>
        <td><%= club.path %></td>
        <td><%= club.position %></td>
        <td><%= club.season %></td>
        <td><%= club.telephone %></td>
        <td><%= club.website %></td>
        <td><%= club.image_id %></td>
        <td><%= link_to 'Show', club %></td>
        <td><%= link_to 'Edit', edit_club_path(club) %></td>
        <td><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Club', new_club_path %>
