<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @club.address %>
</p>

<p>
  <strong>Closed:</strong>
  <%= @club.closed %>
</p>

<p>
  <strong>Contacts:</strong>
  <%= @club.contacts %>
</p>

<p>
  <strong>Email:</strong>
  <%= @club.email %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @club.fax %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @club.instructions %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @club.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @club.longitude %>
</p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @club.note %>
</p>

<p>
  <strong>Path:</strong>
  <%= @club.path %>
</p>

<p>
  <strong>Position:</strong>
  <%= @club.position %>
</p>

<p>
  <strong>Season:</strong>
  <%= @club.season %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @club.telephone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @club.website %>
</p>

<p>
  <strong>Image:</strong>
  <%= @club.image_id %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
