<%= form_for([@club, @news]) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Titolo" %><br>
    <%= f.text_field :title, :size => "90" %>
  </div>
  <div class="field">
    <%= f.label "Sottotitolo" %><br>
    <%= f.text_area :subtitle, :size => "90x5" %>
  </div>
  <div class="field">
    <%= f.label "Data in cui iniziare a mostrare la notizia" %><br>
    <%= f.date_select :show %>
  </div>
  <div class="field">
    <%= f.label "Data di inizio validità" %><br>
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label "Data di fine validità" %><br>
    <%= f.date_select :finish %>
  </div>

  <div class="actions">
    <%= f.submit "Salva Notizia", :class => "btn btn-primary" %>
  </div>
<% end %>
