<h1>Elenco Promozioni</h1>

<p>
    <%= link_to 'Nuova Promozione', new_club_news_path(@club), :class => "btn btn-primary" %>
</p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Titolo</th>
      <th>Sottotitolo</th>
      <th>Club</th>
      <th>Mostra</th>
      <th>Inizio</th>
      <th>Fine</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td><%= link_to news.title, [@club, news], :class => "btn btn-info btn-xs" %></td>
        <td><%= news.subtitle %></td>
        <td><%= news.club.name %></td>
        <td><%= news.show.strftime('%d-%m-%Y') %></td>
        <td><%= news.start.strftime('%d-%m-%Y') %></td>
        <td><%= news.finish.strftime('%d-%m-%Y') %></td>
        <td>
            <%= link_to 'Modifica', edit_club_news_path(@club, news), :class => "btn btn-warning btn-xs" %>
            <%= link_to 'Distruggi', [@club, news], method: :delete, data: { confirm: 'Sei sicuro?' }, :class => "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
