<p id="notice"><%= notice %></p>

<p>
  <strong>Titolo:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Sottotitolo:</strong>
  <%= @news.subtitle %>
</p>

<p>
  <strong>Club:</strong>
  <%= @news.club.name %>
</p>

<p>
  <strong>Mostra dal:</strong>
  <%= @news.show %>
</p>

<p>
  <strong>Inizio:</strong>
  <%= @news.start %>
</p>

<p>
  <strong>Fine:</strong>
  <%= @news.finish %>
</p>

<%= link_to 'Modifica', edit_club_news_path(@club, @news) %> |
<%= link_to 'Indietro', club_news_index_path(@club) %>
