<%= form_for(@sponsor) do |f| %>
  <% if @sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
      <% @sponsor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Titolo" %><br>
    <%= f.text_field :title, :size => "90" %>
  </div>
  <div class="field">
    <%= f.label "Sottotitolo" %><br>
    <%= f.text_field :subtitle, :size => "90" %>
  </div>
  <div class="field">
    <%= f.label "Immagine" %><br>
    <%= f.file_field :file %>
    <%= f.hidden_field :file_cache %>
  </div>
  <div class="field">
    <%= f.label "Inizio validità" %><br>
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label "Fine Validità" %><br>
    <%= f.date_select :finish %>
  </div>
  <div class="field">
    <%= f.label "Sito Web" %><br>
    <%= f.text_field :website, :size => "90" %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Salva Sponsor", :class => "btn btn-primary" %>
  </div>
  <br />
<% end %>
