<h1>Elenco Sponsor</h1>

<p>
    <%= link_to 'Nuovo Sponsor', new_sponsor_path, :class => "btn btn-primary" %>
</p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Titolo</th>
      <th>Sottotitolo</th>
      <th>Website</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsors.each do |sponsor| %>
      <tr>
        <td><%= link_to sponsor.title, sponsor, :class => "btn btn-info btn-xs" %></td>
        <td><%= sponsor.subtitle %></td>
        <td><%= sponsor.website %></td>
        <td><%= link_to 'Modifica', edit_sponsor_path(sponsor), :class => "btn btn-warning btn-xs" %>
            <%= link_to 'Distruggi', sponsor, method: :delete, data: { confirm: 'Sei sicuro?' }, :class => "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
