<p id="notice"><%= notice %></p>

<p>
  <strong>Titolo:</strong>
  <%= @sponsor.title %>
</p>

<p>
  <strong>Sottotitolo:</strong>
  <%= @sponsor.subtitle %>
</p>

<p>
  <strong>Immagine:</strong>
  <%= @sponsor.image_id %>
</p>

<p>
  <strong>Fine validità:</strong>
  <%= @sponsor.finish %>
</p>

<p>
  <strong>Inizio validità:</strong>
  <%= @sponsor.start %>
</p>

<p>
  <strong>Sito Web:</strong>
  <%= @sponsor.website %>
</p>

<p>
    <%= link_to 'Modifica', edit_sponsor_path(@sponsor), :class => "btn btn-warning" %>
    <%= link_to 'Torna agli sponsor', sponsors_path, :class => "btn btn-success" %>
</p>