<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sponsor.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @sponsor.subtitle %>
</p>

<p>
  <strong>Image:</strong>
  <%= @sponsor.image_id %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @sponsor.finish %>
</p>

<p>
  <strong>Start:</strong>
  <%= @sponsor.start %>
</p>

<p>
  <strong>Website:</strong>
  <%= @sponsor.website %>
</p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Indietro', sponsors_path %>
