<%= form_for([@club, @venue]) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nome" %><br>
    <%= f.text_field :name, :size => "90" %>
  </div>
  <div class="field">
    <%= f.label "Indirizzo" %><br>
    <%= f.text_field :address, :size => "90" %>
  </div>
  <div class="field">
    <%= f.label "Categoria" %><br>
    <%= f.number_field :category %>
  </div>
  <div class="field">
    <%= f.label "Telefono" %><br>
    <%= f.text_field :telephone %>
  </div>
  <div class="field">
    <%= f.label "Chiusura" %><br>
    <%= f.text_field :closed, :size => "90" %>
  </div>
  <div class="field">
    <%= f.label "Contatti" %><br>
    <%= f.text_area :contacts, :size => "90x5" %>
  </div>
  <div class="field">
    <%= f.label "Descrizione" %><br>
    <%= f.text_area :desc, :size => "90x5" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Istruzioni" %><br>
    <%= f.text_area :instructions, :size => "90x5" %>
  </div>
  <div class="field">
    <%= f.label "Latitudine" %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label "Longitudine" %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note, :size => "90x5" %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website, :size => "90" %>
  </div>
  <div class="field">
    <%= f.label "Immagine" %><br>
    <%= f.file_field :file %>
    <%= f.hidden_field :file_cache %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Salva Esercizio", :class => "btn btn-primary" %>
  </div>
  <br />
<% end %>
