<h1>Listing venues</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Category</th>
      <th>Closed</th>
      <th>Contacts</th>
      <th>Desc</th>
      <th>Email</th>
      <th>Instructions</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Name</th>
      <th>Note</th>
      <th>Path</th>
      <th>Telephone</th>
      <th>Website</th>
      <th>Image</th>
      <th>Club</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= venue.address %></td>
        <td><%= venue.category %></td>
        <td><%= venue.closed %></td>
        <td><%= venue.contacts %></td>
        <td><%= venue.desc %></td>
        <td><%= venue.email %></td>
        <td><%= venue.instructions %></td>
        <td><%= venue.latitude %></td>
        <td><%= venue.longitude %></td>
        <td><%= venue.name %></td>
        <td><%= venue.note %></td>
        <td><%= venue.path %></td>
        <td><%= venue.telephone %></td>
        <td><%= venue.website %></td>
        <td><%= venue.image_id %></td>
        <td><%= venue.club_id %></td>
        <td><%= link_to 'Show', [@club, venue] %></td>
        <td><%= link_to 'Edit', edit_club_venue_path(@club, venue) %></td>
        <td><%= link_to 'Destroy', [@club, venue], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venue', new_club_venue_path(@club) %>
