<h1>Elenco Esercizi</h1>
<p>
    <%= link_to 'Nuovo Esercizio', new_club_venue_path(@club), class: "btn btn-primary" %>
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Categoria</th>
      <th>Email</th>
      <th>Sito Web</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= link_to venue.name, [@club, venue], :class => "btn btn-info btn-xs" %></td>
        <td><%= venue.category %></td>
        <td><%= venue.email %></td>
        <td><%= venue.website %></td>
        <td>
            <%= link_to 'Modifica', edit_club_venue_path(@club, venue), :class => "btn btn-warning btn-xs" %>
            <%= link_to 'Distruggi', [@club, venue], method: :delete, data: { confirm: 'Sei sicuro?' }, :class => "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
