<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :extension %><br>
    <%= f.text_field :extension %>
  </div>
  <div class="form-group">
    <%= f.label :bundle %><br>
    <%= f.text_field :bundle %>
  </div>
  <div class="form-group">
    <%= f.label :path %><br>
    <%= f.text_field :path %>
  </div>
  <div class="form-group">
    <%= f.label :remote %><br>
    <%= f.text_field :remote %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
