<li><%= link_to 'Circoli', clubs_path %></li>
<% if @club && !@club.id.blank? %>
    <li><%= link_to 'Esercizi', club_venues_path(@club) %></li>
    <li><%= link_to 'Promozioni', club_news_index_url(@club, @venue) %></li>
<% end %>
<li><%= link_to 'Sponsor', sponsors_path %></li>

<% if user_signed_in? %>
  <li class="nav navbar-nav navbar-right"><%= link_to 'Modifica account', edit_user_registration_path %></li>
  <li class="nav navbar-nav navbar-right"><%= link_to "Esci", destroy_user_session_path, method: :delete %></li>
<% else %>
  <li class="nav navbar-nav navbar-right"><%= link_to 'Accedi', new_user_session_path %></li>
  <li class="nav navbar-nav navbar-right"><%= link_to 'Registrati', new_user_registration_path %></li>
<% end %>

<% if user_signed_in? %>
  <% if current_user.has_role? :admin %>
    <li class="nav navbar-nav navbar-right"><%= link_to 'Admin', users_path %></li>
  <% end %>
<% end %>
